
- name: Poweroff VMs
  win_hyperv_guest:
    name: "{{item.name}}"
    state: poweroff
  with_items: "{{ vms }}"

- name: Delete VMs
  win_hyperv_guest:
    name: "{{item.name}}"
    state: absent
  with_items: "{{ vms }}"

- name: Remove vhd
  win_file:
    path: "{{item.dest_vhd}}"
    state: absent  
  with_items: "{{ vms }}"
